<h1>League of Legends!</h1>
<h2>Welcome to the my League of Legends App!.</h2>
<div class="img1">

</div>

<p>This site aims to provide a detailed information on every Champion and Item available in League of Legends!
The Champions page provides essential stats, Tips for your teammates on how to provide synergy with your chosen champion and
even tips on how to easily disperse of that annoying Champ who is always besting you in lane. You can search at the top of the page for the specific Champion you are looking for.  </p>
<p>The Items page also provides a comprehensive list of every item in the game. The stats for items and their respective completed items. This page gives you an easy to read and easy to understand breakdown of all Items in the Shop.</p>
